html, body {
    font-size: 5px;
}

#portfolio {
    height: 80vh;
}

#portfolio .row a {
    padding-bottom: 0;
}

#portfolio .row {
    display: flex;
    flex-direction: row;
}

#portfolio .row a img {
    width: 30vw;
}

footer {
    height: 15vh;
}