/* default */
html, body {
    font-size: 4px;
}

/* about */
#about {
    height: 50vh;
}

/* services */
#services {
    height: 60vh;
}

#services .row .col p {
    padding: 0 6rem;
}

/* portfolio */
#portfolio {
    height: 100vh;
}