/* default */
html, body {
    font-size: 8px;
}

/* waves */
#showcase .wave {
    display: none;
}

#footerWave {
    display: none;
}

/* showcase */
#showcase .container .illustration {
    display: none;
}

/* about */
#about .heading {
    padding-top: 0;
}

/* services */
#services {
    height: 110vh;
}

#services .row h3 {
    margin-bottom: 2rem;
}

#services .row {
    flex-direction: column;
    padding: 0 8rem;
}

/* portfolio */
#portfolio {
    height: 190vh;
}

#portfolio .row a {
    padding-bottom: 2rem;
}

#portfolio .row a img {
    width: 50vw;
}

#portfolio .row {
    display: flex;
    flex-direction: column;
}

/* footer */
footer {
    height: 10vh;
}