/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* navbar */
#navbar {
    z-index: 1;
    background: #155ABD;
    position: fixed;
    width: 100%;
    height: 68px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

#navbar .logo {
    display: flex;
}

#navbar .logo h1 a {
    letter-spacing: 0.4rem;
    align-self: center;
    font-weight: normal;
    font-size: 2.7rem;
    cursor: pointer;
    margin: 0 2rem;
    padding: 0.5rem 2rem;
    color: #E1EECD;
    font-weight: bold;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

#navbar ul li a {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 0 0.2rem;
    color: #E1EECD;
}

#navbar ul li a:hover {
    background: #4FA845;
    color: #E1EECD;
    transition: 0.5s;
}

/* showcase */
#showcase {
    background: #155ABD;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#showcase .wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url('img/greyWave.png');
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    animation: wave 15s linear infinite; 
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

#showcase .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 6rem;
}

#showcase .container .content {
    flex-direction: column;
    color: #E1EECD;
}

#showcase .container .content h1 {
    font-size: 6rem;
}

#showcase .container .content p {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

#showcase .container .content a {
    color: #E1EECD;
    font-size: 2.5rem;
    font-weight: bold;
    background: #4FA845;
    padding: 0.8rem 2.2rem;
}

#showcase .container .illustration img {
    max-width: 35vw;
}

/* about */
#about {
    background: #E1EECD;
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#about .heading {
    text-align: center;
    padding: 4rem 4rem;
}

#about h3 {
    font-size: 6rem;
}

#about p {
    font-size: 2.5rem;
}

#about .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .skills .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 0;
}

#about .skills .col {
    display: flex;
    width: 25vw;
    flex-direction: column;
    text-align: center;
}

#about .skills .col i {
    font-size: 10rem;
}

#html {
    color: #FFA500;
}

#css {
    color: #3696d0;
}

#javascript {
    color: #e9d44d
}

#php {
    color: #4d588f;
}

#node {
    color: #57a344;
}

#react {
    color: #51bbd8;
}

#bootstrap {
    color: #533b79;
}

#java {
    color: #e64026;
}

/* footer */
#footerWave {
    background: #155ABD;
    height: 12vh;
    width: 100%;
    position: relative;
}

#footerWave .wave {
    position: absolute;
    top: 0px;
    background: url('img/upsidedownWave.png');
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
    animation: upsidedown 15s linear infinite; 
}

@keyframes upsidedown {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

footer {
    background: #155ABD;
    height: 20vh;
    width: 100%;
    color: #E1EECD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

footer i {
    font-size: 3rem;
    padding: 0 1rem;
    cursor: pointer;
}