.container {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
}

h2 {
    font-size: 2rem;
}

/* navbar */
#desktop-nav  {
    display: none;
}

#mobile-nav {
    display: flex;
}

#mobile-nav #menu-items {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#mobile-nav #menu-items li {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.toggle {
    padding: 0;
}

/* showcase */
#showcase .container .content {
    text-align: center;
}

#showcase .container .content h2 {
    line-height: 1;
}

#showcase .container .content p {
    font-size: 1rem;
}

#showcase .container .content .flex-items {
    margin: 0 auto;
}

#showcase .container .content .flex-items a {
    font-size: 0.7rem;
}

/* about */
#about .container .about-grid .content {
    text-align: center;
}

/* project */
#project .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#project .container .project-grid {
    grid-template-columns: 1fr;
}

@media (max-width: 650px) and (min-height: 550px) {
    #about .container .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    #about .container .about-grid img {
        grid-row: 1;
    }
}